<div class="edit-wrapper">
  <div class="edit-title">
    <mat-icon>hotel</mat-icon>
    Datos de la Habitación
  </div>

  <form [formGroup]="$form()" (submit)="operate()" class="example-container" #frmRoom="ngForm">

    <div [hidden]="true">
      <mat-form-field>
        <input matInput formControlName="idRoom">
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Número de habitación</mat-label>
      <input matInput placeholder="Ej. 101" formControlName="numberDto">
      @if ($f()['numberDto'].errors?.['required'] && $f()['numberDto'].touched) {
        <mat-error>Es obligatorio</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="typeDto">
        @for (type of roomTypes; track $index) {
          <mat-option [value]="type">{{ type }}</mat-option>
        }
      </mat-select>
      @if ($f()['typeDto'].errors?.['required'] && $f()['typeDto'].touched) {
        <mat-error>Es obligatorio</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Precio por noche (S/)</mat-label>
      <input matInput type="number" placeholder="0.00" formControlName="priceDto">
      @if ($f()['priceDto'].errors?.['required'] && $f()['priceDto'].touched) {
        <mat-error>Es obligatorio</mat-error>
      }
      @if ($f()['priceDto'].errors?.['min'] && $f()['priceDto'].touched) {
        <mat-error>El precio debe ser positivo</mat-error>
      }
    </mat-form-field>

    <mat-checkbox formControlName="availableDto">Disponible</mat-checkbox>

    <div class="button-container">
      <button mat-flat-button class="ux-btn-primary" type="submit" [disabled]="frmRoom.invalid">
        <mat-icon>done</mat-icon>
        Guardar
      </button>
      <button mat-stroked-button type="button" class="cancel-button" routerLink="/pages/room-manager">
        <mat-icon>cancel</mat-icon>
        Cancelar
      </button>
    </div>

  </form>
</div>
