.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--mat-sys-surface);
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: var(--mat-sys-surface-container) !important;
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.forgot-link {
    text-decoration: none;
    color: var(--mat-sys-primary);
    font-size: 14px;
}

.forgot-link:hover {
    text-decoration: underline;
    color: var(--mat-sys-tertiary);
}

mat-card-title {
    margin-bottom: 20px;
    text-align: center;
}
