.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-sidenav-container {
    flex: 1;
}

.example-spacer {
    flex: 1 1 auto;
}

.active {
    background-color: var(--mat-sys-primary-container) !important;
    color: var(--mat-sys-on-primary-container) !important;
}

.app-title {
    cursor: pointer;
    user-select: none;
}

.myButton:focus {
    box-shadow: 0 0 0 2px var(--mat-sys-primary) !important;
    transition: none !important;
    background-color: var(--mat-sys-primary-container) !important;
    -webkit-tap-highlight-color: var(--mat-sys-primary-container) !important;
}
