@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

/* Light por defecto */
html:not([data-theme="dark"]) {
  color-scheme: light;
}

/* Dark cuando el usuario explícitamente lo activa */
html[data-theme="dark"] {
  color-scheme: dark;
}

body {
  background-color: var(--ux-bg);
  color: var(--ux-txt);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
