.example-container {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.example-container > * {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}

.button-container button {
  width: auto;
}
